.resume{
    background-color: var(--accent);
    color: rgb(255, 255, 255);
    border: 4px solid var(--primary);
    box-shadow: var(--secondary) 0px 0px 20px 3px;
}

.profileImg{
    box-shadow: var(--secondary) 0px 0px 100px 10px;
    aspect-ratio: 1 /1;
}

:hover.resume{
    box-shadow:red 0px 0px 20px 3px;
}