* {
    --text: #e6fcee;
    --background: #031f0c;
    --primary: #80f1a5;
    --secondary: #11929e;
    --accent: #2ea1e9;

}

body {
    background-color: var(--background);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    color: var(--text)
}